aiogram~=2.25.1
aiosqlite~=0.17.0
requests~=2.31.0
loguru~=0.7.0
aiocryptopay~=0.2.7
beautifulsoup4~=4.12.2

aiopayok~=0.2.1
certifi


aiohttp~=3.8.4
typing~=3.7.4.3
bs4~=0.0.1
aerich~=0.7.2
click~=8.1.7